fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
alembic
python-multipart
python-jose[cryptography]
bcrypt
passlib[bcrypt]

insightface
onnxruntime
numpy<2
scipy
scikit-learn
opencv-python-headless
Pillow
pillow-heif

pandas
openpyxl

pytest
httpx
